:root {
  font-family: Inter,system-ui,sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
*{
    margin: 0;
    padding: 0;
}
:root{
    font-family: inter;
}
main{
    margin-right: auto;
    margin-top:24px;
    width: 960px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: 4rem;
    font-weight: 700;
    text-align:center ;
}

h2{
    text-align: center;
    font-size: 2em;
    padding-bottom:16px;
}
h3{
    font-size: 1.6em;
    padding-top:16px;
    padding-bottom:4px;
}
p{
    font-size: 16pt;
}

footer{
    width: 100%;
    margin-right: auto;
    margin-top:24px;
    margin-left: auto;
    text-align: center
}

.math{
    display: block;
    margin: auto;
    padding: 32px;
}
form{
    margin: auto;
    display: block;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1); 
}

.input{
    display: flex;
    flex-direction: row;
    align-items: center;
}

form label{
    margin-left:16px ;
    font-size: 2rem;
    font-weight: 700;
}
form input{
    max-width: 128px;
    height: 64px;
    font-size: 2em;
    border: 2px solid black;
    margin-left: 4px;
}

form *:focus{
  outline: none;
  box-shadow: 0 0 0 4px rgba(255, 204, 0, 0.7); 
}

button{
    height: 68px;
    font-size: 2em;
    widows: auto;
    padding: 8px;
    margin-left:16px ;
    cursor: pointer;
    background-color: #FEFEFE;
    border: 2px solid black;
    box-shadow: 0px 5px black;
    transition: 100ms;
    transform: translateY(-5px);
}
button:hover{
    box-shadow: 0px 0px black;
    background-color:black;
    color: white;
    transform: translateY(0px);
}

.result {
  margin: 16px;
  display: flex;
  flex-direction: row;    
  justify-content: center; 
  align-items: center;     
  height: 64px;
}

.result1, .result2 {
  margin: 0;               
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.resultbox {
  display: inline-block;
  width: 64px;
  height: 32px;
}